@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.bannerTagdiv{
    display: flex;
    flex-direction: column;

    align-items: start;
    padding: 140px 0 0 70px;
    /* justify-content: flex-;s */

}
.bannerTag{
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    color: white;

}
.bannerparag{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.5px;
    max-width: 780px;
    font-family: "Inter", sans-serif;
    padding: 50px 0 50px 0;
    color: white;
}
.bannerdiv{
    padding: 140px 0 0 0;
}
.bannertagbuttn{
    font-size: 1rem;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 24px 10px #00000040;
    background: #d9d9d9;
    font-weight: 700;
    border-radius: 30px;
    font-family: "Inter", sans-serif;
    border: none;
}
.bannertagbuttn:hover{
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
color: white;
transition: all .3s;
}

.bannerimgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bannerimg{
    max-width: 100%;
    height: auto;
    object-fit: cover;

}





@media only screen and (max-width: 600px) {
   .bannerdiv{
    padding: 20px 0 0 0;
   }
    .bannerTagdiv{
        padding: 0 0 0 40px;
    }
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1370px) {
 
}